{% macro render_table(header, fields, data) -%}
    <table class="table table-hover">
        <thead>
            <tr>
                {% for col in header %}
                    <th scope="col">{{ col }}</th>
                {% endfor %}
                <th class="action-col" scope="col">Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    {% for field in fields %}
                        {% if row[field] is sameas true %}
                            <td>
                                <i class="bi bi-check-circle"></i>
                            </td>
                        {% elif row[field] is sameas false %}
                            <td>
                                <i class="bi bi-x-circle"></i>
                            </td>
                        {% else %}
                            <td>{{ row[field] }}</td>
                        {% endif %}
                    {% endfor %}
                    <td class="action-col">
                        <a href={{ url_for(".edit", model_id=row['id']) }}>
                            <i class="bi bi-pencil"></i>
                        </a>
                        &ensp;
                        <a href={{ url_for(".delete", model_id=row['id']) }}>
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{%- endmacro %}